@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #003366;
  --color-secondary: #CC9900;
  --color-accent: #BF0000;
  --color-background: #FFFFFF;
  --color-text: #1A202C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
